:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
}

div .divTow {
  display: none;
}
div .divOne {
  display: none;
}
div .divResponse {
  max-width: 90%;
  margin: 5px auto;
  padding: 10px 10px;
}
form,
.divResponse {
  background: rgba(255, 255, 255, 0.03);

  width: 100%;
  max-width: 500px;

  margin: 32px auto;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
}

div.input {
  margin-bottom: 24px;
  position: relative;
}

input,
select,
button {
  /* reset appeareance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* box */
  width: 100%;

  padding: 16px 0;

  border: none;
  border-bottom: 1px solid var(--primary-color);

  background-color: #130f0d;

  outline: none;

  /* text */
  color: var(--text-color);
  font-size: 1em;
}

button {
  margin-top: 16px;
  background-color: var(--primary-color);
}

input ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);

  transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
select:focus ~ label,
select:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
select ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);

  transition: 0.4s;
}

.input span.error {
  display: flex;

  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
  border: 1px solid red;
  padding: 0.4em;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
